{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    <title>Register List</title>
    <style>
    table {
        width: 80%;
        margin: 20px auto;
        border-collapse: collapse;
        }
        th, td {       
        padding: 12px;
        border: 1px solid #ddd;
        text-align: left;
        }
        th {
        background: #f4f4f4;
        }
        </style>

</head>
<body>
    <h2 style="text-align:center;">Customer List</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>CreatedAt</th>
        </tr>
        {%for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.created_at }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" style="text-align:center;">No customers found.</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>